<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="My Web Page No.1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <title>Architecture</title>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="{{ url_for('home') }}">TODO</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('about_me') }}">About me</a></li>
                </ul>
            </div>
        </nav>        
        <header>
            <h1 id ="top_h1">Architecture that I like in Rīga</h1>
        </header>
        <main>
            <h2>Tallinas street 23</h2>
            <p>"A small rental house, this building stands as a notable example of early ornamental Art Nouveau style. 
                Construction began in 1901 based on the designs of architect Konstantins Pēkshens (Konstantīns Pēkšēns), featuring a blend of 
                traditional eclectic elements like pilasters and sandriks. During construction, Eugene Laube (Eižens Laube), then an 
                architecture student, extensively transformed the narrow facade, characterized by its three windows on each floor. 
                The composition emphasizes color and texture contrast, utilizing various materials such as red brick, light or 
                dark plaster, metal, and natural slate."</p>
            <img src="https://jugendstils.riga.lv/userfiles/jug_objects_fotos/foto-1035.jpg" alt="Door portal" width="155">
            <img src="https://jugendstils.riga.lv/userfiles/jug_objects/foto1-109.jpg" alt="Frontal building facade" width="182">
            <p>*These photos and description were taken from
                <a href="https://jugendstils.riga.lv/JugendstilsRiga/Tallinas23/" target="_blank">Jūgendstils</a></p>
            <p>The facade of Tallinas iela 23, also known as the Pēkšēns House, 
                features several symbolic elements typical of Art Nouveau architecture:</p>
                <ul>
                <li>Floral Motifs</li>
                <li>Masks and Faces</li>
                <li>Curved Lines and Whiplash Motifs</li>
                <li>Mythological and Symbolic Creature</li>
            </ul>
            <hr>
            <h2>Skolas street 3</h2>
            <p>"Vecrīgas" Complex at the Riga 700th Anniversary Exhibition in Riga, 1901.</p>
            <p> A four-story brick residential building designed by architect August Reinberg in 1905, 
                it served as the personal residence of the architect, constructed according to his design. 
                In the asymmetric composition of the street facade, various elements of romanticized historical 
                styles and Art Nouveau architectural elements are harmoniously balanced. The side facade facing the 
                garden is adorned with the inscription "Arbeit ist des Bürgers Zierde" ("Work is the ornament of citizens")."</p>
            <img src="https://jugendstils.riga.lv/userfiles/jug_objects_fotos/foto-655.jpg" alt="Street facade" width="180">
            <img src="https://jugendstils.riga.lv/userfiles/jug_objects_fotos/foto-657.jpg" alt="Balcony with flowers" width="180">
            <p>*These photos and description were taken from
                <a href="https://jugendstils.riga.lv/JugendstilsRiga/reinbergs/skolas3/" target="_blank">Jūgendstils</a></p>
            <p>The facade of Skolas street 3 also features several symbolic elements typical of Art Nouveau architecture:</p>
            <ol>
                <li>Flora and fauna</li>
                <li>Geometric patterns</li>
                <li>Mythological or allegorical figures</li>
                <li>Inscriptions or quotes</li>
            </ol>
            <hr>
            <h4><a href="#top_h1" target="_blank">Back to the Top</a></h4>
        </main>
            <footer id="last_footer">Made with good vibes (c) 2024 </footer>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    </body>
    
</html>